h4 {
    margin:5px;
    /* background-color: brown; */
}

.fact-one {
    height: 220px;
    /* background-color: aqua; */
    width: 80%;
    margin: 0;
    overflow: auto;
}

.fact-one img {
    height: 200px;
    display: inline-block;
    
}

.fact-one p {
    display: inline-block;
    /* background-color: red;  */
    width: 60%;
    position: absolute;
    text-align:justify;
    
}

.fact-two {
    height: 300px;
    /* background-color: aqua; */
    margin: 0;
    overflow: auto;
    /* width: 90%; */
    
}

.fact-two img {
    height: 280px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    width: 30%;
    

}

.fact-two p {
    display: inline-block;
    /* background-color: red; */
    width: 60%;
    overflow: auto;
    text-align: justify;
    height: 280px;
    position: absolute;
    
}


.fact-three {
    height: 400px;
    /* background-color: aqua; */
    margin: 0;
    overflow: auto;
    
}

 .fact-three img {
    height: 240px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
    width: 30%; 
}

.fact-three p {
    display: block;
    /* background-color: red; */
    width: 80%;
    overflow: auto;
    /* position: absolute; */
    /* border: 2px solid black; */
    margin-left: 60px;
    text-align:justify;
}

.image-three-section {
    text-align:center;
    
}

.bibliography li {
    list-style: none;
}

footer p {
    text-align: center;
}

nav li {
    list-style: none;
    /* background-color: aqua; */
}
