* {
    padding: 0px;
    margin: 0px;
}

/* body {
    background-color: red;
} */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;

}

.container-buttons *{
    margin-top: 10px;
    margin-right: 25px;
}

.btn {
    background-color: rgb(31,37,49);
    border-radius: 5px;
    color: aliceblue;
    padding: 3px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
}

#img {
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    max-width: 100vw;
}

/* #image-container {
    display: flex;
    flex-flow: column;
    align-items: center;
} */