html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background-color: rgb(32,33,37);
    color: rgb(135,145,137);
  }

 header {
    width: 80%;
    margin: 0px auto;
 }
  
 header p {
   text-align: center;
   font-size: 22px;
   font-style: oblique;
 }

 header > nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
 }

 h2 {
    font-size: 20px;
 }

aside {
    padding: 15px;
}

aside > ul {
   list-style: none;
}

h1 {
    font-size: 24px;
}

 .main-content {
    padding: 15px;
 }

footer {
    padding: 15px;
}

@media only screen and (min-width: 768px) {
    header p {
        font-size: 30px;
        width: 55%;
    }

    h2 {
        font-size: 25px;
     }

    .container {
        padding: 30px;

    }

    .aside-one > ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
     }

     header {
        display: flex;
     }

     header > nav > ul > li {
        margin: 10px;
     }
   
}